*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#lg_parent{
    border: 1px solid grey;
    width: 35%;
    margin: auto;
    margin-top: 100px;
    padding: 80px;
    text-align: center;
    border-radius: 20px;
}
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}
button{
    width: 100%;
    padding: 8px;
    font-size: 17px;
    border-radius: 25px;
    margin-top: 20px;
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
}
input{
    width: 100%;
    padding: 10px;
    font-size: 17px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid grey;
}
#lg_email{
    background-color: rgb(13, 36, 13);
    color: white;
}
#lg_google{
    background-color: rgb(23, 142, 240);
    color: white;
    padding: 0px;
    display: flex;
    align-items: center;
    border: 0px;
}
#lg_apple{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 40px;
}
#lg_signup{
    width: 60%;
}
#google_png{
    width: 12%;
    border-radius: 100%;
    position: relative;
    margin-right: 55px;
}
#apple_png{
    width: 15%;
    position: relative;
    right: 10px;
    margin-right: -11px;
}