#container{
    width: 1320px;
    margin: auto;
}

#top1>div:nth-child(1){
    width: 1320px;
    background-repeat: no-repeat;
    background-position: left 0;
    border-radius: 10px;
    /* border: 2px solid blue; */
    margin-top: 30px;
}

#top1>div:nth-child(1)>img{
width: 100%;
height: 376px;
    border-radius: 10px;
}
#img{
    width: 100%;
    margin: auto;
    margin-top: 30px;
}
#img2{
    width: 100%;
    margin: auto;
    margin-top: 30px;
}
#img>img{
  border-radius: 10px;

}
#img2>img{
  border-radius: 10px;

}
#cards{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid blue; */
    margin-top: 30px;
}
#cards>img{
    width: 31%;
  border-radius: 10px;

}
.slide-container{
    max-width: 100%;
    width: 150%;
    padding: 40px 0px;
    /* border:  2px solid black; */
margin-top: 50px;
}
.slide-content{
    margin: 0 40px ;
    /* border:  2px solid black; */

}
.card{
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 320px;
    border-radius: 20px;
}
.card:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}
.image-content, .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    /* border:  2px solid black; */
}
.card-content p, h{
    margin-top: -5px;
text-align: left;

}
.cardImage{
    border-radius: 8pc;
}
.card-image{
    position: relative;
    width: auto;
    /* border: 2px solid red; */
}
#homeProducts{
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto auto;
    gap: 20px;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    /* border: 2px solid red; */
}
#homeProducts>div{
   /* border: 2px solid red; */
   width: 100%;
}

#homeProducts>div:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#homeProducts>div> .image{
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* margin: 20px; */
}
#homeProducts>div> .image>img{
    height: 100%;
    width: 100%;
}

#priceBtn{
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid grey;
}
#addBtn{
    padding: 8px 24px;
    background-color: #94bf46;
    color: white;
    border-radius: 5px;
border: none;
margin-bottom: 30px;
}

#addBtn:hover{
    background-color: #6aa300;
    cursor: pointer;
}

#eventText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
#eventText>div>hr{
    width: 200px;
}

#hrText{
    margin: 0px 20px;
    font-size: 25px;
}
#eventImg{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 400px;
    gap: 32px;
    margin-top: 30px;
}
#eventImg>div>img{
 width: 100%;
 height: 100%;
 border-radius: 10px;
}

#trustedImg{
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 80px;
    width: 100%;
    /* border: 2px solid red; */
    justify-content: space-evenly;
    margin-top: 40px;
}
#trustedImg>div{
    /* border: 2px solid blue; */
    height: 75px;
    padding: 6px;
}

#trustedImg>div>img{
    height: 100%;
}

#para{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    height: auto;
    margin-top: 40px;
    padding: 0px 10px 0px 10px;
}
#para>div{
    height: auto;
    width: 100%;
}
#para p{
    margin-top: -15px;
    /* border: 2px solid gray; */
}

#para>div:nth-child(2)>h2{
    margin-top: 0px;
    /* border:  2px solid pink; */
}
#para>div:nth-child(3)>h2{
    margin-top: 0px;
    /* border:  2px solid pink; */
}

h2{
    margin-bottom: 5px;
}
p{
    line-height: 20px;
}