*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#rai_parent{
    width: 50%;
    border: 1px solid grey;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    border-radius: 20px;
    padding: 50px;
}
button{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 25px;
    margin-top: 10px;
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
}
#lg_google{
    background-color: rgb(23, 142, 240);
    color: white;
    padding: 0px;
    display: flex;
    align-items: center;
    border: 0px;
}
#lg_apple{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 35px;
}
#google_png{
    width: 6%;
    border-radius: 100%;
    position: relative;
    margin-right: 195px;
}
#apple_png{
    width: 8%;
    position: relative;
    right: 10px;
    margin-right: -10px;
}
#rai_sg2>input{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 49%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
}
#rai_sg3>input{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
}
#sghr_btn{
    margin-bottom: 20px;
    margin-top: 20px;
}
#rai_sg4{
    display: flex;
    text-align: left;
}
#r_checkbox{
    border: 1px solid black;
    width: 25px;
    height: 20px;
    margin-top: 5px;
    border-radius: 50%;
    margin-right: 5px;
}
#sghr_btn{
    color: white;
    background-color: rgb(11, 180, 11);
    padding: 10px;
}
/* #message{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
#message>h3{
    /* grid-area: 1/1/6/2; */